In [1]:
import numpy as np
import pandas as pd
import glob
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
from itertools import combinations
from collections import defaultdict

In [2]:
data_fp = '/Users/JakeCanfield/Documents/Trauma_Surgery_Research/Data/Raw_data/PUF AY %i/CSV/'
years = range(2007, 2017)
thoracotomy_codes = [34.02]
sternotomy_codes = ['0P800ZZ']

mechanism_code_dict = {1:'Cut/pierce', 2:'Drowning/submersion', 3:'Fall', 4:'Fire/flame', 5:'Hot object/substance', 6:'Firearm', 7:'Machinery', 8:'MVT Occupant', 9:'MVT Motorcyclist', 10:'MVT Pedal cyclist', 11:'MVT Pedestrian', 12:'MVT Unspecified', 13:'MVT Other', 14:'Pedal cyclist, other', 15:'Pedestrian, other', 16:'Transport, other', 17:'Natural/environmental,  Bites and stings', 18:'Natural/environmental,  Other', 19:'Overexertion', 20:'Poisoning', 21:'Struck by, against', 22:'Suffocation', 23:'Other specified and classifiable', 24:'Other specified, not elsewhere classifiable', 25:'Unspecified', 26:'Adverse effects, medical care', 27:'Adverse effects, drugs'} # As noted in PUF dictionary
trauma_type_code_dict = {1:'Blunt', 2:'Penetrating', 3:'Burn', 4:'Other/unspecified', 9:'Activity Code - Not Valid as a Primary E-Code'} # As noted in PUF Dictionary
sex_code_dict = {1:'Male', 2:'Female'}
eddischarge_code_dict = {1: 'Floor bed (general admission, non-specialty unit bed)', 2: 'Observation unit (unit that provides < 24 hour stays)', 3: 'Telemetry/step-down unit (less acuity than ICU)', 4: 'Home with services', 5: 'Deceased/expired', 6: 'Other (jail, institutional care, mental health, etc.)', 7: 'Operating Room', 8: 'Intensive Care Unit (ICU)', 9: 'Home without services', 10: 'Left against medical advice', 11: 'Transferred to another hospital'}
hospdischarge_disposition_code_dict = {1: 'Discharged/Transferred to a short-term general hospital for inpatient care', 2: 'Discharged/Transferred to an Intermediate Care Facility (ICF)', 3: 'Discharged/Transferred to home under care of organized home health service', 4: 'Left against medical advice or discontinued care', 5: 'Deceased/Expired', 6: 'Discharged to home or self-care (routine discharge)', 7: 'Discharged/Transferred to Skilled Nursing Facility (SNF)', 8: 'Discharged/Transferred to hospice care', 10: 'Discharged/Transferred to court/law enforcement', 11: 'Discharged/Transferred to inpatient rehab or designated unit', 12: 'Discharged/Transferred to Long Term Care Hospital (LTCH)', 13: 'Discharged/Transferred to a psychiatric hospital or psychiatric distinct part unit of a hospital', 14: 'Discharged/Transferred to another type of institution not defined elsewhere'}

In [47]:
display(pd.read_csv(data_fp%2016+'PUF_PM.csv').columns.tolist())

['inc_key',
 'TBI_HIGHEST_TOTAL_GCS',
 'TBI_GCS_MOTOR',
 'VTE_PROPHYLAXIS_TYPE_CODE',
 'VTE_PROPHYLAXIS_TYPE_DESC',
 'LOWEST_SBP',
 'TRANS_BLOOD_4HOURS',
 'TRANS_PLASMA_4HOURS',
 'TRANS_PLATELETS_4HOURS',
 'CRYOPRECIPITATE_4HOURS',
 'TRANS_BLOOD_24HOURS',
 'TRANS_PLASMA_24HOURS',
 'TRANS_PLATELETS_24HOURS',
 'CRYOPRECIPITATE_24HOURS',
 'ANGIOGRAPHY_CODE',
 'ANGIOGRAPHY_DESC',
 'HEMORRHAGE_CTRL_STYPE_CODE',
 'HEMORRHAGE_CTRL_STYPE_DESC',
 'WITHDRAWAL_OF_CARE_CODE',
 'WITHDRAWAL_OF_CARE_DESC',
 'TRANS_BLOOD_MEASURE_CODE',
 'TRANS_BLOOD_MEASURE_DESC',
 'TRANS_BLOOD_CONV',
 'TRANS_PLASMA_MEASURE_CODE',
 'TRANS_PLASMA_MEASURE_DESC',
 'TRANS_PLASMA_CONV',
 'TRANS_PLATELETS_MEASURE_CODE',
 'TRANS_PLATELETS_MEASURE_DESC',
 'TRANS_PLATELETS_CONV',
 'CRYOPRECIPITATE_MEASURE_CODE',
 'CRYOPRECIPITATE_MEASURE_DESC',
 'CRYOPRECIPITATE_CONV',
 'PUPILLARY_RESPONSE_CODE',
 'PUPILLARY_RESPONSE_DESC',
 'MIDLINE_SHIFT_CODE',
 'MIDLINE_SHIFT_DESC',
 'CerebralMonitorMins',
 'CerebralMonitorDays',
 'VTEMins',
 'VTEDays',
 'AngiographyMins',
 'AngiographyDays',
 'HemorrhageCtrlMins',
 'HemorrhageCtrlDays',
 'WithdrawalOfCareMins',
 'WithdrawalOfCareDays']

In [75]:
for year in years:
    print(year)
    if year in range(2010, 2017, 1):
        PCODE_df = pd.read_csv(data_fp%year + 'PUF_PCODE.csv').sort_values('INC_KEY')
        PCODE_df = PCODE_df.rename(columns={'HOURTOPROC': 'HOURTOPRO'})
    else:
        PCODE_df = pd.read_csv(data_fp%year + 'PUF_PCODE.csv').sort_values('INC_KEY')
    PCODEDES_df = pd.read_csv(data_fp%year + 'PUF_PCODEDES.csv')
    DISCHARGE_df = pd.read_csv(data_fp%year + 'PUF_DISCHARGE.csv', usecols=['INC_KEY', 'HOSPDISP', 'LOSMIN', 'LOSDAYS', 'ICUDAYS', 'VENTDAYS']).sort_values('INC_KEY')
    ECODE_df = pd.read_csv(data_fp%year + 'PUF_ECODE.csv', usecols=['INC_KEY', 'ECODE']).sort_values('INC_KEY')
    ECODEDES_df = pd.read_csv(data_fp%year + 'PUF_ECODEDES.csv', usecols=['INJTYPE', 'MECHANISM', 'ECODE', 'ECODEDES'])
    DEMO_df = pd.read_csv(data_fp%year + 'PUF_DEMO.csv', usecols=['INC_KEY', 'GENDER', 'AGE', 'RACE1', 'RACE2', 'ETHNIC']).sort_values('INC_KEY')
    if year in range(2013, 2017, 1):
        PM_df = pd.read_csv(data_fp%year + 'PUF_PM.csv', usecols=['inc_key', 'HEMORRHAGE_CTRL_STYPE_CODE', 'HEMORRHAGE_CTRL_STYPE_DESC', 'HemorrhageCtrlMins', 'HemorrhageCtrlDays']).sort_values('inc_key')
        PM_df.columns = map(str.upper, PM_df.columns)
    else:
        pass
    
    if year in range(2007, 2011, 1):
        ED_df = pd.read_csv(data_fp%year + 'PUF_ED.csv', usecols=['INC_KEY', 'EDDISP', 'EDDEATH']).sort_values('INC_KEY')
    elif year in range(2011, 2017, 1):
        ED_df = pd.read_csv(data_fp%year + 'PUF_ED.csv', usecols=['INC_KEY', 'EDDISP', 'SIGNSOFLIFE']).sort_values('INC_KEY')
        ED_df = ED_df.rename(columns={'SIGNSOFLIFE':'EDDEATH'})
    else:
        pass
    
    # Force column headers to be all upper case and fill in missing year data
    
    PCODE_df.columns = map(str.upper, PCODE_df.columns)
    ED_df.columns = map(str.upper, ED_df.columns)
    PCODEDES_df.columns = map(str.upper, PCODEDES_df.columns)
    PCODE_df['YOPROC'] = PCODE_df['YOPROC'].fillna(year)
    
    PCODE_df['PROCEDUREMINS'] = PCODE_df['HOURTOPRO']*60
    
    PCODE_df = PCODE_df.loc[:, ['INC_KEY', 'PCODE', 'DAYTOPROC', 'PROCEDUREMINS', 'HOURTOPRO']]
    
    ECODE_LOOKUP_df = ECODEDES_df.loc[:, ['ECODE', 'ECODEDES', 'MECHANISM', 'INJTYPE']]
    
    print(np.shape(PCODE_df))
    
    thoracotomy_list = PCODE_df.loc[PCODE_df['PCODE'].isin(thoracotomy_codes)]
    
    print(np.shape(thoracotomy_list))

    if year in range(2013, 2017, 1):
        DCS_list = PM_df.loc[PM_df['HEMORRHAGE_CTRL_STYPE_CODE'] == 3.0]
        thoracotomy_keys = np.unique(thoracotomy_list['INC_KEY'].tolist() + DCS_list['INC_KEY'].tolist())
        print(np.shape(thoracotomy_keys))
    else:
        thoracotomy_keys = np.unique(thoracotomy_list['INC_KEY'].tolist())
        print(np.shape(thoracotomy_keys))

    
    PCODE_df = PCODE_df.loc[PCODE_df['INC_KEY'].isin(thoracotomy_keys)]
    ECODE_df = ECODE_df.loc[ECODE_df['INC_KEY'].isin(thoracotomy_keys)]
    DEMO_df = DEMO_df.loc[DEMO_df['INC_KEY'].isin(thoracotomy_keys)]
    ED_df = ED_df.loc[ED_df['INC_KEY'].isin(thoracotomy_keys)]
    DISCHARGE_df = DISCHARGE_df.loc[DISCHARGE_df['INC_KEY'].isin(thoracotomy_keys)]
    
    print(np.shape(ECODE_df))
    
    procedure_dict = dict(zip(PCODEDES_df['PCODE'], PCODEDES_df['PCODEDESCR'])) # create dictionary
    PCODE_df['PCODE'] = PCODE_df['PCODE'].replace(procedure_dict) # implement dictionary
    
    ecode_dict = dict(zip(ECODEDES_df['ECODE'], ECODEDES_df['ECODEDES'])) # create dictionary
    ECODE_df['ECODE'] = ECODE_df['ECODE'].replace(ecode_dict) # implement dictionary
    
    print(np.shape(ECODE_df))
    
    mechanism_dict = dict(zip(ECODEDES_df['ECODEDES'], ECODEDES_df['MECHANISM'])) # create dictionary
    ECODE_df['MECHANISM'] = ECODE_df['ECODE'].map(mechanism_dict) # implement dictionary
    
    print(np.shape(ECODE_df))
    
    traumatype_dict = dict(zip(ECODEDES_df['ECODEDES'], ECODE_LOOKUP_df['INJTYPE'])) # create dictionary
    ECODE_df['INJTYPE'] = ECODE_df['ECODE'].map(traumatype_dict) # implement dictionary
    
    print(np.shape(ECODE_df))
    
    ECODE_df['MECHANISM'] = ECODE_df['MECHANISM'].replace(mechanism_code_dict) # implement dictionary, may not need
    
    print(np.shape(ECODE_df))
    
    ECODE_df['INJTYPE'] = ECODE_df['INJTYPE'].replace(trauma_type_code_dict) # implement dictionary, may not need
    
    print(np.shape(ECODE_df))
    
    DEMO_df['GENDER'] = DEMO_df['GENDER'].replace(sex_code_dict) # May not need
    
    print(np.shape(DEMO_df))
    
    ED_df['EDDISP'] = ED_df['EDDISP'].replace(eddischarge_code_dict) # implement dictionary
    
    print(np.shape(ED_df))
    
    DISCHARGE_df['HOSPDISP'] = DISCHARGE_df['HOSPDISP'].replace(hospdischarge_disposition_code_dict) # implement dictionary
    
    DCS_df = PM_df.loc[PM_df['INC_KEY'].isin(thoracotomy_keys)]
    
    print(np.shape(DISCHARGE_df))
    
    display(PCODE_df.head())
    print(np.shape(PCODE_df))
    display(ECODE_df.head())
    print(np.shape(ECODE_df))
    display(DEMO_df.head())
    print(np.shape(DEMO_df))
    display(ED_df.head())
    print(np.shape(ED_df))
    display(DISCHARGE_df.head())
    print(np.shape(DISCHARGE_df))
    
    if year in range(2013, 2017, 1):
        TRAUMA_df = pd.merge(pd.merge(pd.merge(pd.merge(ECODE_df, DEMO_df, on='INC_KEY', how='left'), ED_df, on='INC_KEY', how='left'), DISCHARGE_df, on='INC_KEY', how='left'), DCS_df, on='INC_KEY', how='left')
    elif year in range(2007, 2013, 1):
        ECODE_df = ECODE_df.assign(**{'HEMORRHAGE_CTRL_STYPE_CODE': np.nan, 'HEMORRHAGE_CTRL_STYPE_DESC': np.nan, 'HEMORRHAGECTRLMINS': np.nan, 'HEMORRHAGECTRLDAYS': np.nan})
        TRAUMA_df = pd.merge(pd.merge(pd.merge(ECODE_df, DEMO_df, on='INC_KEY', how='left'), ED_df, on='INC_KEY', how='left'), DISCHARGE_df, on='INC_KEY', how='left')
    TRAUMA_df = TRAUMA_df.rename(columns={'ECODE':'PRIMARYECODEICD10', 'INJTYPE':'TRAUMATYPE','GENDER':'SEX', 'EDDISP':'EDDISCHARGEDISPOSITION', 'HOSPDISP':'HOSPDISCHARGEDISPOSITION', 'HEMORRHAGECTRLMINS':'HMRRHGCTRLSURGMINS', 'HEMORRHAGECTRLDAYS':'HMRRHGCTRLSURGDAYS', 'AGE':'AGEYEARS', 'HEMORRHAGE_CTRL_STYPE_CODE': 'HMRRHGCTRLSURGTYPE'})
    
    PCODE_df = PCODE_df.rename(columns={'PCODE':'ICDPROCEDURECODE', 'DAYTOPROC':'PROCEDUREDAYS'})
    
    TRAUMA_df = TRAUMA_df.loc[TRAUMA_df['TRAUMATYPE'].isin(['Blunt', 'Penetrating'])]
    
    TRAUMA_df.to_csv('/Users/JakeCanfield/Documents/Trauma_Surgery_Research/data/Combined_data/newTRAUMA_df_%i.csv'%year, index=False)
    PCODE_df.to_csv('/Users/JakeCanfield/Documents/Trauma_Surgery_Research/data/Combined_data/newICDPROCEDURE_df_%i.csv'%year, index=False)
          
    display(PCODE_df.head())
    display(TRAUMA_df.head())

2007
(1640995, 5)
(1881, 5)
(1812,)
(1812, 2)
(1812, 2)
(1812, 3)
(1812, 4)
(1812, 4)
(1812, 4)
(1812, 6)
(1812, 3)
(1812, 6)

,INC_KEY,PCODE,DAYTOPROC,PROCEDUREMINS,HOURTOPRO
1232920,402,Insertion of intercostal catheter for drainage,1,180,3
617590,402,Insertion of endotracheal tube,1,180,3
22517,402,Exploratory thoracotomy,1,180,3
22519,402,Other miscellaneous procedures,1,600,10
1028076,402,Other repair of diaphragm,1,180,3

(17486, 5)

,INC_KEY,ECODE,MECHANISM,INJTYPE
445612,402,Oth and Unspec Fall - Unspec,Fall,Blunt
417206,839,Oth and Unspec Fall - Unspec,Fall,Blunt
5964,943,"MVA Traffic, Loss Control-No Collision - Drive...",MVT Occupant,Blunt
4411,1013,"Oth MVA Traffic, Collision w/ MV - Driver of M...",MVT Occupant,Blunt
4997,1088,Assault by Cutting and Piercing Instrument,Cut/pierce,Penetrating

(1812, 4)

,INC_KEY,AGE,GENDER,RACE1,RACE2,ETHNIC
493000,402,47,Female,White,Not Recorded BIU 3,Not Known BIU 2
493124,839,78,Male,Black or African American,Not Recorded BIU 3,Not Known BIU 2
491952,943,20,Male,White,Not Recorded BIU 3,Not Known BIU 2
492758,1013,51,Female,White,Not Recorded BIU 3,Not Known BIU 2
492330,1088,21,Male,White,Not Recorded BIU 3,Not Known BIU 2

(1812, 6)

       INC_KEY                     EDDISP               EDDEATH
18655      402         Not Recorded BIU 3    Not Recorded BIU 3
17995      839             Operating Room  Not Applicable BIU 1
19908      943             Operating Room  Not Applicable BIU 1
19730     1013  Intensive Care Unit (ICU)  Not Applicable BIU 1
14337     1088             Operating Room  Not Applicable BIU 1

(1812, 3)

,INC_KEY,HOSPDISP,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
401,402,Discharged home with no home services,8844,7,-3,-3
752,839,Expired,13707,10,10,10
823,943,Expired,144,1,1,1
870,1013,Expired,19154,14,12,12
920,1088,Discharged home with no home services,11758,9,4,3

(1812, 6)

,INC_KEY,ICDPROCEDURECODE,PROCEDUREDAYS,PROCEDUREMINS,HOURTOPRO
1232920,402,Insertion of intercostal catheter for drainage,1,180,3
617590,402,Insertion of endotracheal tube,1,180,3
22517,402,Exploratory thoracotomy,1,180,3
22519,402,Other miscellaneous procedures,1,600,10
1028076,402,Other repair of diaphragm,1,180,3

,INC_KEY,PRIMARYECODEICD10,MECHANISM,TRAUMATYPE,HMRRHGCTRLSURGTYPE,HEMORRHAGE_CTRL_STYPE_DESC,HMRRHGCTRLSURGMINS,HMRRHGCTRLSURGDAYS,AGEYEARS,SEX,RACE1,RACE2,ETHNIC,EDDISCHARGEDISPOSITION,EDDEATH,HOSPDISCHARGEDISPOSITION,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
0,402,Oth and Unspec Fall - Unspec,Fall,Blunt,NaN,NaN,NaN,NaN,47,Female,White,Not Recorded BIU 3,Not Known BIU 2,Not Recorded BIU 3,Not Recorded BIU 3,Discharged home with no home services,8844,7,-3,-3
1,839,Oth and Unspec Fall - Unspec,Fall,Blunt,NaN,NaN,NaN,NaN,78,Male,Black or African American,Not Recorded BIU 3,Not Known BIU 2,Operating Room,Not Applicable BIU 1,Expired,13707,10,10,10
2,943,"MVA Traffic, Loss Control-No Collision - Drive...",MVT Occupant,Blunt,NaN,NaN,NaN,NaN,20,Male,White,Not Recorded BIU 3,Not Known BIU 2,Operating Room,Not Applicable BIU 1,Expired,144,1,1,1
3,1013,"Oth MVA Traffic, Collision w/ MV - Driver of M...",MVT Occupant,Blunt,NaN,NaN,NaN,NaN,51,Female,White,Not Recorded BIU 3,Not Known BIU 2,Intensive Care Unit (ICU),Not Applicable BIU 1,Expired,19154,14,12,12
4,1088,Assault by Cutting and Piercing Instrument,Cut/pierce,Penetrating,NaN,NaN,NaN,NaN,21,Male,White,Not Recorded BIU 3,Not Known BIU 2,Operating Room,Not Applicable BIU 1,Discharged home with no home services,11758,9,4,3

2008
(2172955, 5)
(2334, 5)
(2170,)
(2170, 2)
(2170, 2)
(2170, 3)
(2170, 4)
(2170, 4)
(2170, 4)
(2170, 6)
(2170, 3)
(2170, 6)

,INC_KEY,PCODE,DAYTOPROC,PROCEDUREMINS,HOURTOPRO
1627882,9000150,Other chest x-ray,0,27.00,0.450
1627881,9000150,Other chest x-ray,0,603.00,10.050
1627874,9000150,Diagnostic ultrasound of heart,0,138.00,2.300
1627880,9000150,Other chest x-ray,0,1993.98,33.233
1627877,9000150,Computerized axial tomography of abdomen,0,57.00,0.950

(22964, 5)

,INC_KEY,ECODE,MECHANISM,INJTYPE
469997,9000150,"Oth MVA Traffic, Collision w/ MV - Driver of M...",MVT Occupant,Blunt
2177,9000444,Suicide and Self-Inflicted Injury by Cut/Pierc...,Cut/pierce,Penetrating
2931,9000564,Suicide/Self Injury - Shotgun,Firearm,Penetrating
610742,9002403,Assault by Cutting and Piercing Instrument,Cut/pierce,Penetrating
2968,9003113,Suicide/Self Injury - Handgun,Firearm,Penetrating

(2170, 4)

,INC_KEY,AGE,GENDER,RACE1,RACE2,ETHNIC
131736,9000150,51,Male,White,Not Known BIU 2,Not Known BIU 2
131328,9000444,44,Male,White,Not Known BIU 2,Not Known BIU 2
131304,9000564,50,Male,Not Known BIU 2,Not Known BIU 2,Not Known BIU 2
607013,9002403,25,Male,Black or African American,Not Known BIU 2,Not Hispanic or Latino
351465,9003113,62,Male,White,Not Known BIU 2,Not Known BIU 2

(2170, 6)

,INC_KEY,EDDISP,EDDEATH
12897,9000150,Intensive Care Unit (ICU),Not Applicable BIU 1
7332,9000444,Died,Died in ED (other than failed resuscitation at...
8086,9000564,Died,Died in ED (other than failed resuscitation at...
15190,9002403,Intensive Care Unit (ICU),Not Applicable BIU 1
8123,9003113,Operating Room,Not Applicable BIU 1

(2170, 3)

,INC_KEY,HOSPDISP,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
140,9000150,Discharged home with no home services,77843,55,30,26
434,9000444,Not Applicable BIU 1,24,1,-1,1
554,9000564,Not Applicable BIU 1,39,1,-1,1
2393,9002403,Discharged home with no home services,10384,8,6,1
3103,9003113,Discharged/Transferred to another type of reha...,57156,40,22,20

(2170, 6)

,INC_KEY,ICDPROCEDURECODE,PROCEDUREDAYS,PROCEDUREMINS,HOURTOPRO
1627882,9000150,Other chest x-ray,0,27.00,0.450
1627881,9000150,Other chest x-ray,0,603.00,10.050
1627874,9000150,Diagnostic ultrasound of heart,0,138.00,2.300
1627880,9000150,Other chest x-ray,0,1993.98,33.233
1627877,9000150,Computerized axial tomography of abdomen,0,57.00,0.950

,INC_KEY,PRIMARYECODEICD10,MECHANISM,TRAUMATYPE,HMRRHGCTRLSURGTYPE,HEMORRHAGE_CTRL_STYPE_DESC,HMRRHGCTRLSURGMINS,HMRRHGCTRLSURGDAYS,AGEYEARS,SEX,RACE1,RACE2,ETHNIC,EDDISCHARGEDISPOSITION,EDDEATH,HOSPDISCHARGEDISPOSITION,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
0,9000150,"Oth MVA Traffic, Collision w/ MV - Driver of M...",MVT Occupant,Blunt,NaN,NaN,NaN,NaN,51,Male,White,Not Known BIU 2,Not Known BIU 2,Intensive Care Unit (ICU),Not Applicable BIU 1,Discharged home with no home services,77843,55,30,26
1,9000444,Suicide and Self-Inflicted Injury by Cut/Pierc...,Cut/pierce,Penetrating,NaN,NaN,NaN,NaN,44,Male,White,Not Known BIU 2,Not Known BIU 2,Died,Died in ED (other than failed resuscitation at...,Not Applicable BIU 1,24,1,-1,1
2,9000564,Suicide/Self Injury - Shotgun,Firearm,Penetrating,NaN,NaN,NaN,NaN,50,Male,Not Known BIU 2,Not Known BIU 2,Not Known BIU 2,Died,Died in ED (other than failed resuscitation at...,Not Applicable BIU 1,39,1,-1,1
3,9002403,Assault by Cutting and Piercing Instrument,Cut/pierce,Penetrating,NaN,NaN,NaN,NaN,25,Male,Black or African American,Not Known BIU 2,Not Hispanic or Latino,Intensive Care Unit (ICU),Not Applicable BIU 1,Discharged home with no home services,10384,8,6,1
4,9003113,Suicide/Self Injury - Handgun,Firearm,Penetrating,NaN,NaN,NaN,NaN,62,Male,White,Not Known BIU 2,Not Known BIU 2,Operating Room,Not Applicable BIU 1,Discharged/Transferred to another type of reha...,57156,40,22,20

2009
(2398859, 5)
(2210, 5)
(2074,)
(2074, 2)
(2074, 2)
(2074, 3)
(2074, 4)
(2074, 4)
(2074, 4)
(2074, 6)
(2074, 3)
(2074, 6)

,INC_KEY,PCODE,DAYTOPROC,PROCEDUREMINS,HOURTOPRO
17380,10000126,"Venous catheterization, not elsewhere classified",0,27.00,0.450
17379,10000126,Insertion of intercostal catheter for drainage,0,1.98,0.033
17381,10000126,Exploratory thoracotomy,0,16.02,0.267
17377,10000126,Transfusion of packed cells,0,42.00,0.700
17378,10000126,Open chest cardiac massage,0,16.02,0.267

(21563, 5)

,INC_KEY,ECODE,MECHANISM,INJTYPE
1311,10000126,Firearm Missile Accident - Handgun,Firearm,Penetrating
1636,10001757,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating
1646,10001767,Suicide/Self Injury - Handgun,Firearm,Penetrating
2681,10002066,Assault by Cutting and Piercing Instrument,Cut/pierce,Penetrating
3481,10002112,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating

(2074, 4)

,INC_KEY,AGE,GENDER,RACE1,RACE2,ETHNIC
278528,10000126,15,Male,American Indian,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
658324,10001757,28,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
658313,10001767,28,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
368207,10002066,43,Male,White,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2
367476,10002112,30,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2

(2074, 6)

        INC_KEY                     EDDISP               EDDEATH
51276  10000126             Operating Room  Not Applicable BIU 1
51601  10001757             Operating Room  Not Applicable BIU 1
51611  10001767  Intensive Care Unit (ICU)  Not Applicable BIU 1
52646  10002066             Operating Room  Not Applicable BIU 1
53446  10002112             Operating Room  Not Applicable BIU 1

(2074, 3)

,INC_KEY,HOSPDISP,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
126,10000126,Expired,59,1,-1,-1
1757,10001757,Expired,51,1,-1,1
1767,10001767,Discharged home with no home services,17764,13,4,2
2066,10002066,Discharged home with no home services,19788,14,11,7
2112,10002112,Discharged home with no home services,45461,32,21,7

(2074, 6)

,INC_KEY,ICDPROCEDURECODE,PROCEDUREDAYS,PROCEDUREMINS,HOURTOPRO
17380,10000126,"Venous catheterization, not elsewhere classified",0,27.00,0.450
17379,10000126,Insertion of intercostal catheter for drainage,0,1.98,0.033
17381,10000126,Exploratory thoracotomy,0,16.02,0.267
17377,10000126,Transfusion of packed cells,0,42.00,0.700
17378,10000126,Open chest cardiac massage,0,16.02,0.267

,INC_KEY,PRIMARYECODEICD10,MECHANISM,TRAUMATYPE,HMRRHGCTRLSURGTYPE,HEMORRHAGE_CTRL_STYPE_DESC,HMRRHGCTRLSURGMINS,HMRRHGCTRLSURGDAYS,AGEYEARS,SEX,RACE1,RACE2,ETHNIC,EDDISCHARGEDISPOSITION,EDDEATH,HOSPDISCHARGEDISPOSITION,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
0,10000126,Firearm Missile Accident - Handgun,Firearm,Penetrating,NaN,NaN,NaN,NaN,15,Male,American Indian,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Operating Room,Not Applicable BIU 1,Expired,59,1,-1,-1
1,10001757,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating,NaN,NaN,NaN,NaN,28,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Operating Room,Not Applicable BIU 1,Expired,51,1,-1,1
2,10001767,Suicide/Self Injury - Handgun,Firearm,Penetrating,NaN,NaN,NaN,NaN,28,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Intensive Care Unit (ICU),Not Applicable BIU 1,Discharged home with no home services,17764,13,4,2
3,10002066,Assault by Cutting and Piercing Instrument,Cut/pierce,Penetrating,NaN,NaN,NaN,NaN,43,Male,White,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2,Operating Room,Not Applicable BIU 1,Discharged home with no home services,19788,14,11,7
4,10002112,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating,NaN,NaN,NaN,NaN,30,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2,Operating Room,Not Applicable BIU 1,Discharged home with no home services,45461,32,21,7

2010
(2663207, 5)
(2247, 5)
(2109,)
(2104, 2)
(2104, 2)
(2104, 3)
(2104, 4)
(2104, 4)
(2104, 4)
(2104, 6)
(2104, 3)
(2104, 6)

,INC_KEY,PCODE,DAYTOPROC,PROCEDUREMINS,HOURTOPRO
4820,11000781,"Other surgical occlusion of vessels, abdominal...",1.0,745.02,12.417
4821,11000781,Exploratory thoracotomy,1.0,745.02,12.417
4822,11000781,Insertion of intercostal catheter for drainage,1.0,745.02,12.417
4823,11000781,"Venous catheterization, not elsewhere classified",1.0,745.02,12.417
4819,11000781,Transfusion of packed cells,1.0,745.02,12.417

(22998, 5)

,INC_KEY,ECODE,MECHANISM,INJTYPE
957,11000781,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating
2003,11001536,Suicide/Self Injury - Oth and Unspec Firearm,Firearm,Penetrating
3524,11004023,Struck Accidentally by Falling Object,"Struck by, against",Blunt
4109,11004384,Assault by Firearms/Explosives - Unspec Explosive,Other specified and classifiable,Other/unspecified
5570,11004666,Injury Due to Legal Intervention by Firearms,Firearm,Penetrating

(2104, 4)

,INC_KEY,AGE,GENDER,RACE1,RACE2,ETHNIC
17091,11000781,28,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2
42177,11001536,46,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
428771,11004023,63,Male,Native Hawaiian or Other Pacific Islander,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
42648,11004384,24,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
508471,11004666,37,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino

(2104, 6)

,INC_KEY,EDDISP,EDDEATH
8103,11000781,Operating Room,Not Applicable BIU 1
9149,11001536,Died,Death after failed resuscitation attempt (fail...
10670,11004023,Operating Room,Not Applicable BIU 1
11255,11004384,Died,Death after failed resuscitation attempt (fail...
12716,11004666,Operating Room,Not Applicable BIU 1

(2104, 3)

,INC_KEY,HOSPDISP,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
781,11000781,Expired,1881,2,1,1
1536,11001536,Not Applicable BIU 1,7,1,-2,-2
4023,11004023,Expired,4864,4,3,3
4384,11004384,Not Applicable BIU 1,14,1,-2,-2
4666,11004666,Discharged/Transferred to another type of reha...,25331,18,18,18

(2104, 6)

,INC_KEY,ICDPROCEDURECODE,PROCEDUREDAYS,PROCEDUREMINS,HOURTOPRO
4820,11000781,"Other surgical occlusion of vessels, abdominal...",1.0,745.02,12.417
4821,11000781,Exploratory thoracotomy,1.0,745.02,12.417
4822,11000781,Insertion of intercostal catheter for drainage,1.0,745.02,12.417
4823,11000781,"Venous catheterization, not elsewhere classified",1.0,745.02,12.417
4819,11000781,Transfusion of packed cells,1.0,745.02,12.417

,INC_KEY,PRIMARYECODEICD10,MECHANISM,TRAUMATYPE,HMRRHGCTRLSURGTYPE,HEMORRHAGE_CTRL_STYPE_DESC,HMRRHGCTRLSURGMINS,HMRRHGCTRLSURGDAYS,AGEYEARS,SEX,RACE1,RACE2,ETHNIC,EDDISCHARGEDISPOSITION,EDDEATH,HOSPDISCHARGEDISPOSITION,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
0,11000781,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating,NaN,NaN,NaN,NaN,28,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2,Operating Room,Not Applicable BIU 1,Expired,1881,2,1,1
1,11001536,Suicide/Self Injury - Oth and Unspec Firearm,Firearm,Penetrating,NaN,NaN,NaN,NaN,46,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Died,Death after failed resuscitation attempt (fail...,Not Applicable BIU 1,7,1,-2,-2
2,11004023,Struck Accidentally by Falling Object,"Struck by, against",Blunt,NaN,NaN,NaN,NaN,63,Male,Native Hawaiian or Other Pacific Islander,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Operating Room,Not Applicable BIU 1,Expired,4864,4,3,3
4,11004666,Injury Due to Legal Intervention by Firearms,Firearm,Penetrating,NaN,NaN,NaN,NaN,37,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Operating Room,Not Applicable BIU 1,Discharged/Transferred to another type of reha...,25331,18,18,18
5,11006995,Fall On or From Stairs/Steps - Oth Stairs or S...,Fall,Blunt,NaN,NaN,NaN,NaN,26,Female,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Intensive Care Unit (ICU),Not Applicable BIU 1,Discharged home with no home services,9978,7,3,-1

2011
(3240326, 5)
(2599, 5)
(2420,)
(2420, 2)
(2420, 2)
(2420, 3)
(2420, 4)
(2420, 4)
(2420, 4)
(2420, 6)
(2420, 3)
(2420, 6)

,INC_KEY,PCODE,DAYTOPROC,PROCEDUREMINS,HOURTOPRO
476,12000336,Exploratory thoracotomy,1.0,NaN,NaN
481,12000336,"Cardiopulmonary resuscitation, not otherwise s...",1.0,NaN,NaN
480,12000336,Transfusion of packed cells,1.0,4.98,0.083
479,12000336,Interruption of vena cava,1.0,25.02,0.417
478,12000336,Insertion of intercostal catheter for drainage,1.0,25.02,0.417

(30176, 5)

,INC_KEY,ECODE,MECHANISM,INJTYPE
195,12000336,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating
738,12000584,"Firearms/Explosives, Un/Intentional - Handgun",Firearm,Penetrating
1193,12001335,Cutting Object Accident - Oth Spec Cut/Piercin...,Cut/pierce,Penetrating
2334,12001426,Assault by Firearms/Explosives - Oth and Unspe...,Firearm,Penetrating
2336,12001428,"Oth MVA Traffic, Highway Collision - Driver of...",MVT Occupant,Blunt

(2420, 4)

,INC_KEY,AGE,GENDER,RACE1,RACE2,ETHNIC
32448,12000336,30,Male,Black or African American,Not Known/Not Recorded BIU 2,Hispanic or Latino
33280,12000584,25,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
770908,12001335,51,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2
770278,12001426,16,Male,White,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2
770277,12001428,31,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2

(2420, 6)

        INC_KEY                     EDDISP                     EDDEATH
61070  12000336                       Died  Arrived with signs of life
61613  12000584                       Died  Arrived with signs of life
62068  12001335             Operating Room  Arrived with signs of life
63209  12001426             Operating Room  Arrived with signs of life
63211  12001428  Intensive Care Unit (ICU)  Arrived with signs of life

(2420, 3)

,INC_KEY,HOSPDISP,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
335,12000336,Not Applicable BIU 1,45,1,-1,-1
583,12000584,Not Applicable BIU 1,42,1,-1,-1
1334,12001335,Discharged home with no home services,7218,6,3,1
1425,12001426,Discharged home with no home services,63301,44,19,2
1427,12001428,Expired,13785,10,9,9

(2420, 6)

,INC_KEY,ICDPROCEDURECODE,PROCEDUREDAYS,PROCEDUREMINS,HOURTOPRO
476,12000336,Exploratory thoracotomy,1.0,NaN,NaN
481,12000336,"Cardiopulmonary resuscitation, not otherwise s...",1.0,NaN,NaN
480,12000336,Transfusion of packed cells,1.0,4.98,0.083
479,12000336,Interruption of vena cava,1.0,25.02,0.417
478,12000336,Insertion of intercostal catheter for drainage,1.0,25.02,0.417

,INC_KEY,PRIMARYECODEICD10,MECHANISM,TRAUMATYPE,HMRRHGCTRLSURGTYPE,HEMORRHAGE_CTRL_STYPE_DESC,HMRRHGCTRLSURGMINS,HMRRHGCTRLSURGDAYS,AGEYEARS,SEX,RACE1,RACE2,ETHNIC,EDDISCHARGEDISPOSITION,EDDEATH,HOSPDISCHARGEDISPOSITION,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
0,12000336,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating,NaN,NaN,NaN,NaN,30,Male,Black or African American,Not Known/Not Recorded BIU 2,Hispanic or Latino,Died,Arrived with signs of life,Not Applicable BIU 1,45,1,-1,-1
1,12000584,"Firearms/Explosives, Un/Intentional - Handgun",Firearm,Penetrating,NaN,NaN,NaN,NaN,25,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Died,Arrived with signs of life,Not Applicable BIU 1,42,1,-1,-1
2,12001335,Cutting Object Accident - Oth Spec Cut/Piercin...,Cut/pierce,Penetrating,NaN,NaN,NaN,NaN,51,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2,Operating Room,Arrived with signs of life,Discharged home with no home services,7218,6,3,1
3,12001426,Assault by Firearms/Explosives - Oth and Unspe...,Firearm,Penetrating,NaN,NaN,NaN,NaN,16,Male,White,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2,Operating Room,Arrived with signs of life,Discharged home with no home services,63301,44,19,2
4,12001428,"Oth MVA Traffic, Highway Collision - Driver of...",MVT Occupant,Blunt,NaN,NaN,NaN,NaN,31,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2,Intensive Care Unit (ICU),Arrived with signs of life,Expired,13785,10,9,9

2012
(3567492, 5)
(2899, 5)
(2704,)
(2687, 2)
(2687, 2)
(2687, 3)
(2687, 4)
(2687, 4)
(2687, 4)
(2687, 6)
(2687, 3)
(2687, 6)

,INC_KEY,PCODE,DAYTOPROC,PROCEDUREMINS,HOURTOPRO
1178,13000100,Computerized axial tomography of thorax,1.0,97.98,1.633
1177,13000100,"Excisional debridement of wound, infection, or...",13.0,17437.98,290.633
1176,13000100,Delayed closure of granulating abdomen wound,13.0,17437.98,290.633
1174,13000100,Gastrotomy,13.0,17437.98,290.633
1173,13000100,Total splenectomy,1.0,132.00,2.200

(33211, 5)

,INC_KEY,ECODE,MECHANISM,INJTYPE
1074,13000100,Oth Multi-level Fall - Oth Multi-Level Fall,Fall,Blunt
202,13000189,Assault by Firearms/Explosives - Oth and Unspe...,Firearm,Penetrating
68,13000335,Fall On or From Ladders/Scaffolding - Ladder,Fall,Blunt
313,13000919,"MVA Traffic, Loss Control-No Collision - Motor...",MVT Motorcyclist,Blunt
1252,13001054,"MVA Traffic, Collision w/ Pedestrian - Pedestrian",MVT Pedestrian,Blunt

(2687, 4)

,INC_KEY,AGE,GENDER,RACE1,RACE2,ETHNIC
184504,13000100,46,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
184066,13000189,27,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Applicable BIU 1
184891,13000335,70,Male,White,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2
184804,13000919,63,Male,White,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2
184380,13001054,40,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino

(2687, 6)

         INC_KEY                     EDDISP                     EDDEATH
111065  13000100             Operating Room  Arrived with signs of life
110193  13000189             Operating Room  Arrived with signs of life
110059  13000335  Intensive Care Unit (ICU)  Arrived with signs of life
110304  13000919  Intensive Care Unit (ICU)  Arrived with signs of life
111243  13001054  Intensive Care Unit (ICU)  Arrived with signs of life

(2687, 3)

,INC_KEY,HOSPDISP,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
100,13000100,Discharged/Transferred to another type of reha...,33428,24,24,18
189,13000189,Expired,250,1,-1,-1
335,13000335,Discharged/Transferred to another type of reha...,12914,9,8,-1
919,13000919,Discharged/Transferred to another type of reha...,11449,8,4,-1
1054,13001054,Discharged/Transferred to another type of reha...,17500,13,13,12

(2687, 6)

,INC_KEY,ICDPROCEDURECODE,PROCEDUREDAYS,PROCEDUREMINS,HOURTOPRO
1178,13000100,Computerized axial tomography of thorax,1.0,97.98,1.633
1177,13000100,"Excisional debridement of wound, infection, or...",13.0,17437.98,290.633
1176,13000100,Delayed closure of granulating abdomen wound,13.0,17437.98,290.633
1174,13000100,Gastrotomy,13.0,17437.98,290.633
1173,13000100,Total splenectomy,1.0,132.00,2.200

,INC_KEY,PRIMARYECODEICD10,MECHANISM,TRAUMATYPE,HMRRHGCTRLSURGTYPE,HEMORRHAGE_CTRL_STYPE_DESC,HMRRHGCTRLSURGMINS,HMRRHGCTRLSURGDAYS,AGEYEARS,SEX,RACE1,RACE2,ETHNIC,EDDISCHARGEDISPOSITION,EDDEATH,HOSPDISCHARGEDISPOSITION,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
0,13000100,Oth Multi-level Fall - Oth Multi-Level Fall,Fall,Blunt,NaN,NaN,NaN,NaN,46,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Operating Room,Arrived with signs of life,Discharged/Transferred to another type of reha...,33428,24,24,18
1,13000189,Assault by Firearms/Explosives - Oth and Unspe...,Firearm,Penetrating,NaN,NaN,NaN,NaN,27,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Applicable BIU 1,Operating Room,Arrived with signs of life,Expired,250,1,-1,-1
2,13000335,Fall On or From Ladders/Scaffolding - Ladder,Fall,Blunt,NaN,NaN,NaN,NaN,70,Male,White,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2,Intensive Care Unit (ICU),Arrived with signs of life,Discharged/Transferred to another type of reha...,12914,9,8,-1
3,13000919,"MVA Traffic, Loss Control-No Collision - Motor...",MVT Motorcyclist,Blunt,NaN,NaN,NaN,NaN,63,Male,White,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2,Intensive Care Unit (ICU),Arrived with signs of life,Discharged/Transferred to another type of reha...,11449,8,4,-1
4,13001054,"MVA Traffic, Collision w/ Pedestrian - Pedestrian",MVT Pedestrian,Blunt,NaN,NaN,NaN,NaN,40,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Intensive Care Unit (ICU),Arrived with signs of life,Discharged/Transferred to another type of reha...,17500,13,13,12

2013
(3708721, 5)
(2788, 5)
(2866,)
(2866, 2)
(2866, 2)
(2866, 3)
(2866, 4)
(2866, 4)
(2866, 4)
(2866, 6)
(2866, 3)
(2866, 6)

,INC_KEY,PCODE,DAYTOPROC,PROCEDUREMINS,HOURTOPRO
1564702,14000441,Other electric countershock of heart,21.0,29532.00,492.200
1564695,14000441,Reopening of recent thoracotomy site,2.0,2779.98,46.333
1564701,14000441,Continuous invasive mechanical ventilation for...,19.0,26115.00,435.250
1564696,14000441,Insertion of intercostal catheter for drainage,1.0,13.02,0.217
1564698,14000441,"Venous catheterization, not elsewhere classified",1.0,4.02,0.067

(36646, 5)

,INC_KEY,ECODE,MECHANISM,INJTYPE
586137,14000441,Suicide/Self Injury - Hunting Rifle,Firearm,Penetrating
332,14000705,"Oth MVA N-Traffic Collision,Stat Object - Driv...","Transport, other",Blunt
177,14001021,Fall From or Out of Building/Other Structure,Fall,Blunt
16986,14001295,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating
16382,14001357,Suicide and Self-Inflicted Injury by Cut/Pierc...,Cut/pierce,Penetrating

(2866, 4)

,INC_KEY,AGE,GENDER,RACE1,RACE2,ETHNIC
441,14000441,33,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
705,14000705,35,Female,Black or African American,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
1021,14001021,43,Female,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
1293,14001295,21,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
1355,14001357,57,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino

(2866, 6)

         INC_KEY                     EDDISP                        EDDEATH
569087  14000441  Intensive Care Unit (ICU)     Arrived with signs of life
2650    14000705               Died/Expired  Arrived with NO signs of life
2579    14001021  Intensive Care Unit (ICU)     Arrived with signs of life
23520   14001295             Operating Room  Arrived with NO signs of life
23454   14001357  Intensive Care Unit (ICU)     Arrived with signs of life

(2866, 3)

,INC_KEY,HOSPDISP,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
441,14000441,Expired,29832,21,20,-2
705,14000705,Not Applicable BIU 1,72,1,-1,-1
1021,14001021,Expired,17366,13,12,12
1293,14001295,Discharged home with no home services,18204,13,3,3
1355,14001357,Discharged/Transferred to a short-term general...,3125,3,2,2

(2866, 6)

,INC_KEY,ICDPROCEDURECODE,PROCEDUREDAYS,PROCEDUREMINS,HOURTOPRO
1564702,14000441,Other electric countershock of heart,21.0,29532.00,492.200
1564695,14000441,Reopening of recent thoracotomy site,2.0,2779.98,46.333
1564701,14000441,Continuous invasive mechanical ventilation for...,19.0,26115.00,435.250
1564696,14000441,Insertion of intercostal catheter for drainage,1.0,13.02,0.217
1564698,14000441,"Venous catheterization, not elsewhere classified",1.0,4.02,0.067

,INC_KEY,PRIMARYECODEICD10,MECHANISM,TRAUMATYPE,AGEYEARS,SEX,RACE1,RACE2,ETHNIC,EDDISCHARGEDISPOSITION,EDDEATH,HOSPDISCHARGEDISPOSITION,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS,HMRRHGCTRLSURGTYPE,HEMORRHAGE_CTRL_STYPE_DESC,HMRRHGCTRLSURGMINS,HMRRHGCTRLSURGDAYS
0,14000441,Suicide/Self Injury - Hunting Rifle,Firearm,Penetrating,33,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Intensive Care Unit (ICU),Arrived with signs of life,Expired,29832,21,20,-2,3.0,Thoracotomy,232.0,1.0
1,14000705,"Oth MVA N-Traffic Collision,Stat Object - Driv...","Transport, other",Blunt,35,Female,Black or African American,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Died/Expired,Arrived with NO signs of life,Not Applicable BIU 1,72,1,-1,-1,-1.0,Not Applicable BIU 1,NaN,NaN
2,14001021,Fall From or Out of Building/Other Structure,Fall,Blunt,43,Female,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Intensive Care Unit (ICU),Arrived with signs of life,Expired,17366,13,12,12,3.0,Thoracotomy,213.0,1.0
3,14001295,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating,21,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Operating Room,Arrived with NO signs of life,Discharged home with no home services,18204,13,3,3,3.0,Thoracotomy,48.0,1.0
4,14001357,Suicide and Self-Inflicted Injury by Cut/Pierc...,Cut/pierce,Penetrating,57,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Intensive Care Unit (ICU),Arrived with signs of life,Discharged/Transferred to a short-term general...,3125,3,2,2,3.0,Thoracotomy,42.0,1.0

2014

/Users/JakeCanfield/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(3914290, 5)
(2840, 5)
(3037,)
(3037, 2)
(3037, 2)
(3037, 3)
(3037, 4)
(3037, 4)
(3037, 4)
(3037, 6)
(3037, 3)
(3037, 6)

,INC_KEY,PCODE,DAYTOPROC,PROCEDUREMINS,HOURTOPRO
2150337,140000377,Transfusion of other serum,2.0,0.06,0.001
2150335,140000377,Fiber-optic bronchoscopy,2.0,0.06,0.001
2150336,140000377,Transfusion of packed cells,2.0,0.06,0.001
2150333,140000377,Exploratory thoracotomy,2.0,0.06,0.001
2196814,140000377,Thoracentesis,2.0,0.06,0.001

(41489, 5)

,INC_KEY,ECODE,MECHANISM,INJTYPE
206882,140000377,Fall on Same Level - Other,Fall,Blunt
208448,140000515,Assault by Cutting and Piercing Instrument,Cut/pierce,Penetrating
70731,140001025,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating
75413,140001076,Suicide/Self Injury - Handgun,Firearm,Penetrating
285200,140001699,Fall on Same Level - Other,Fall,Blunt

(3037, 4)

,INC_KEY,AGE,GENDER,RACE1,RACE2,ETHNIC
377,140000377,76,Female,Asian,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
515,140000515,41,Male,Other Race,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
1013,140001025,22,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
1064,140001076,45,Male,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2
1687,140001699,76,Male,White,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2

(3037, 6)

,INC_KEY,EDDISP,EDDEATH
7414,140000377,Intensive Care Unit (ICU),Arrived with signs of life
7844,140000515,Operating Room,Arrived with signs of life
113282,140001025,Operating Room,Arrived with NO signs of life
155551,140001076,Operating Room,Arrived with signs of life
289024,140001699,"Floor bed (general admission, non specialty un...",Arrived with signs of life

(3037, 3)

,INC_KEY,HOSPDISP,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
377,140000377,Discharged to home or self-care (routine disch...,14716,11,7,2
515,140000515,Deceased/Expired,307,1,1,-1
1013,140001025,Deceased/Expired,35,1,-1,-1
1064,140001076,Discharged/transferred to a psychiatric hospit...,12026,9,4,2
1687,140001699,Discharged to home or self-care (routine disch...,12978,10,2,-1

(3037, 6)

,INC_KEY,ICDPROCEDURECODE,PROCEDUREDAYS,PROCEDUREMINS,HOURTOPRO
2150337,140000377,Transfusion of other serum,2.0,0.06,0.001
2150335,140000377,Fiber-optic bronchoscopy,2.0,0.06,0.001
2150336,140000377,Transfusion of packed cells,2.0,0.06,0.001
2150333,140000377,Exploratory thoracotomy,2.0,0.06,0.001
2196814,140000377,Thoracentesis,2.0,0.06,0.001

,INC_KEY,PRIMARYECODEICD10,MECHANISM,TRAUMATYPE,AGEYEARS,SEX,RACE1,RACE2,ETHNIC,EDDISCHARGEDISPOSITION,EDDEATH,HOSPDISCHARGEDISPOSITION,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS,HMRRHGCTRLSURGTYPE,HEMORRHAGE_CTRL_STYPE_DESC,HMRRHGCTRLSURGMINS,HMRRHGCTRLSURGDAYS
0,140000377,Fall on Same Level - Other,Fall,Blunt,76,Female,Asian,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Intensive Care Unit (ICU),Arrived with signs of life,Discharged to home or self-care (routine disch...,14716,11,7,2,-1.0,Not Applicable BIU 1,NaN,NaN
1,140000515,Assault by Cutting and Piercing Instrument,Cut/pierce,Penetrating,41,Male,Other Race,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Operating Room,Arrived with signs of life,Deceased/Expired,307,1,1,-1,3.0,Thoracotomy,10.0,1.0
2,140001025,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating,22,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Operating Room,Arrived with NO signs of life,Deceased/Expired,35,1,-1,-1,3.0,Thoracotomy,1.0,1.0
3,140001076,Suicide/Self Injury - Handgun,Firearm,Penetrating,45,Male,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2,Operating Room,Arrived with signs of life,Discharged/transferred to a psychiatric hospit...,12026,9,4,2,3.0,Thoracotomy,75.0,1.0
4,140001699,Fall on Same Level - Other,Fall,Blunt,76,Male,White,Not Known/Not Recorded BIU 2,Not Known/Not Recorded BIU 2,"Floor bed (general admission, non specialty un...",Arrived with signs of life,Discharged to home or self-care (routine disch...,12978,10,2,-1,-1.0,Not Applicable BIU 1,NaN,NaN

2015
(4569780, 5)
(3309, 5)
(3632,)
(3632, 2)
(3632, 2)
(3632, 3)
(3632, 4)
(3632, 4)
(3632, 4)
(3632, 6)
(3632, 3)
(3632, 6)

,INC_KEY,PCODE,DAYTOPROC,PROCEDUREMINS,HOURTOPRO
19862,150000274,"Routine chest x-ray, so described",6.0,8335.98,138.933
19863,150000274,Insertion of intercostal catheter for drainage,2.0,2310.00,38.500
19864,150000274,Insertion of endotracheal tube,1.0,12.00,0.200
19865,150000274,Other skeletal x-ray of pelvis and hip,1.0,15.00,0.250
19866,150000274,"Other immobilization, pressure, and attention ...",1.0,120.00,2.000

(49940, 5)

,INC_KEY,ECODE,MECHANISM,INJTYPE
18034,150000274,Suicide/Self Injury - Handgun,Firearm,Penetrating
17930,150000493,Fall On or From Stairs/Steps - Oth Stairs or S...,Fall,Blunt
13669,150000678,"Oth MVA Traffic, Collision w/ MV - Driver of M...",MVT Occupant,Blunt
13328,150000732,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating
12639,150001583,Assault by Firearms/Explosives - Oth and Unspe...,Firearm,Penetrating

(3632, 4)

,INC_KEY,AGE,GENDER,RACE1,RACE2,ETHNIC
238932,150000274,27,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
86985,150000493,78,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
86807,150000678,52,Male,Other Race,Not Known/Not Recorded BIU 2,Hispanic or Latino
86789,150000732,18,Female,Other Race,Not Known/Not Recorded BIU 2,Hispanic or Latino
21340,150001583,52,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Hispanic or Latino

(3632, 6)

         INC_KEY                     EDDISP                        EDDEATH
77298  150000274  Intensive Care Unit (ICU)     Arrived with signs of life
68359  150000493             Operating Room     Arrived with signs of life
66610  150000678             Operating Room     Arrived with signs of life
66500  150000732             Operating Room  Arrived with NO signs of life
66255  150001583             Operating Room     Arrived with signs of life

(3632, 3)

,INC_KEY,HOSPDISP,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS
254,150000274,Discharged to home or self-care (routine disch...,28587,20,5,2
473,150000493,Deceased/Expired,7378,6,6,6
658,150000678,Deceased/Expired,165,1,-1,1
712,150000732,Deceased/Expired,87,1,-1,-1
1563,150001583,Deceased/Expired,62,1,-1,1

(3632, 6)

,INC_KEY,ICDPROCEDURECODE,PROCEDUREDAYS,PROCEDUREMINS,HOURTOPRO
19862,150000274,"Routine chest x-ray, so described",6.0,8335.98,138.933
19863,150000274,Insertion of intercostal catheter for drainage,2.0,2310.00,38.500
19864,150000274,Insertion of endotracheal tube,1.0,12.00,0.200
19865,150000274,Other skeletal x-ray of pelvis and hip,1.0,15.00,0.250
19866,150000274,"Other immobilization, pressure, and attention ...",1.0,120.00,2.000

,INC_KEY,PRIMARYECODEICD10,MECHANISM,TRAUMATYPE,AGEYEARS,SEX,RACE1,RACE2,ETHNIC,EDDISCHARGEDISPOSITION,EDDEATH,HOSPDISCHARGEDISPOSITION,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS,HMRRHGCTRLSURGTYPE,HEMORRHAGE_CTRL_STYPE_DESC,HMRRHGCTRLSURGMINS,HMRRHGCTRLSURGDAYS
0,150000274,Suicide/Self Injury - Handgun,Firearm,Penetrating,27,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Intensive Care Unit (ICU),Arrived with signs of life,Discharged to home or self-care (routine disch...,28587,20,5,2,-1.0,Not Applicable BIU 1,NaN,NaN
1,150000493,Fall On or From Stairs/Steps - Oth Stairs or S...,Fall,Blunt,78,Male,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Operating Room,Arrived with signs of life,Deceased/Expired,7378,6,6,6,3.0,Thoracotomy,101.0,1.0
2,150000678,"Oth MVA Traffic, Collision w/ MV - Driver of M...",MVT Occupant,Blunt,52,Male,Other Race,Not Known/Not Recorded BIU 2,Hispanic or Latino,Operating Room,Arrived with signs of life,Deceased/Expired,165,1,-1,1,1.0,None,NaN,NaN
3,150000732,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating,18,Female,Other Race,Not Known/Not Recorded BIU 2,Hispanic or Latino,Operating Room,Arrived with NO signs of life,Deceased/Expired,87,1,-1,-1,3.0,Thoracotomy,60.0,1.0
4,150001583,Assault by Firearms/Explosives - Oth and Unspe...,Firearm,Penetrating,52,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Operating Room,Arrived with signs of life,Deceased/Expired,62,1,-1,1,3.0,Thoracotomy,18.0,1.0

2016
(5308716, 5)
(936, 5)
(2592,)
(2592, 2)
(2592, 2)
(2592, 3)
(2592, 4)
(2592, 4)
(2592, 4)
(2592, 6)
(2592, 3)
(2592, 6)

,INC_KEY,PCODE,DAYTOPROC,PROCEDUREMINS,HOURTOPRO
1867031,160000396,Insertion of endotracheal tube,NaN,NaN,NaN
1901886,160000396,"Venous catheterization, not elsewhere classified",NaN,NaN,NaN
1869652,160000396,Exploratory thoracotomy,NaN,NaN,NaN
1867030,160000396,Other electric countershock of heart,NaN,NaN,NaN
1896184,160000396,Exploratory thoracotomy,1.0,40.02,0.667

(35815, 5)

,INC_KEY,ECODE,MECHANISM,INJTYPE
224128,160000396,"N-traffic Accident, Oth Off-Road MV - Driver o...","Transport, other",Blunt
131298,160000463,Assault by Cutting and Piercing Instrument,Cut/pierce,Penetrating
182177,160000758,"Oth MVA Traffic, Collision w/ MV - Passenger i...",MVT Occupant,Blunt
179944,160000986,Not Applicable BIU 1,NaN,NaN
183623,160000995,Not Applicable BIU 1,NaN,NaN

(2592, 4)

,INC_KEY,AGE,GENDER,RACE1,RACE2,ETHNIC
297553,160000396,23,Female,Other Race,Not Known/Not Recorded BIU 2,Hispanic or Latino
296444,160000463,33,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
549837,160000758,46,Female,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
550017,160000986,27,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Hispanic or Latino
550102,160000995,50,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Hispanic or Latino

(2592, 6)

          INC_KEY            EDDISP                        EDDEATH
375355  160000396    Operating Room     Arrived with signs of life
137144  160000463    Operating Room     Arrived with signs of life
409322  160000758    Operating Room  Arrived with NO signs of life
406060  160000986    Operating Room     Arrived with signs of life
209896  160000995  Deceased/Expired  Arrived with NO signs of life

(2592, 3)

       INC_KEY              HOSPDISP  LOSMIN  LOSDAYS  ICUDAYS  VENTDAYS
394  160000396      Deceased/Expired      86        1       -1         1
461  160000463      Deceased/Expired    9075        7        7         7
756  160000758      Deceased/Expired      39        1       -1         1
984  160000986      Deceased/Expired   11093        8        9         9
993  160000995  Not Applicable BIU 1      18        1       -1        -1

(2592, 6)

,INC_KEY,ICDPROCEDURECODE,PROCEDUREDAYS,PROCEDUREMINS,HOURTOPRO
1867031,160000396,Insertion of endotracheal tube,NaN,NaN,NaN
1901886,160000396,"Venous catheterization, not elsewhere classified",NaN,NaN,NaN
1869652,160000396,Exploratory thoracotomy,NaN,NaN,NaN
1867030,160000396,Other electric countershock of heart,NaN,NaN,NaN
1896184,160000396,Exploratory thoracotomy,1.0,40.02,0.667

,INC_KEY,PRIMARYECODEICD10,MECHANISM,TRAUMATYPE,AGEYEARS,SEX,RACE1,RACE2,ETHNIC,EDDISCHARGEDISPOSITION,EDDEATH,HOSPDISCHARGEDISPOSITION,LOSMIN,LOSDAYS,ICUDAYS,VENTDAYS,HMRRHGCTRLSURGTYPE,HEMORRHAGE_CTRL_STYPE_DESC,HMRRHGCTRLSURGMINS,HMRRHGCTRLSURGDAYS
0,160000396,"N-traffic Accident, Oth Off-Road MV - Driver o...","Transport, other",Blunt,23,Female,Other Race,Not Known/Not Recorded BIU 2,Hispanic or Latino,Operating Room,Arrived with signs of life,Deceased/Expired,86,1,-1,1,3.0,Thoracotomy,40.0,1.0
1,160000463,Assault by Cutting and Piercing Instrument,Cut/pierce,Penetrating,33,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Operating Room,Arrived with signs of life,Deceased/Expired,9075,7,7,7,3.0,Thoracotomy,26.0,1.0
2,160000758,"Oth MVA Traffic, Collision w/ MV - Passenger i...",MVT Occupant,Blunt,46,Female,White,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Operating Room,Arrived with NO signs of life,Deceased/Expired,39,1,-1,1,3.0,Thoracotomy,3.0,1.0
5,160001001,Assault by Cutting and Piercing Instrument,Cut/pierce,Penetrating,22,Male,Other Race,Not Known/Not Recorded BIU 2,Hispanic or Latino,Deceased/Expired,Arrived with NO signs of life,Not Applicable BIU 1,15,1,-1,1,-1.0,Not Applicable BIU 1,NaN,NaN
6,160001246,Assault by Firearms/Explosives - Handgun,Firearm,Penetrating,24,Male,Black or African American,Not Known/Not Recorded BIU 2,Not Hispanic or Latino,Deceased/Expired,Arrived with signs of life,Not Applicable BIU 1,31,1,-1,-1,1.0,None,NaN,NaN

In [70]:
print(TRAUMA_df.columns.tolist())
print()
print(PCODE_df.columns.tolist())

['INC_KEY', 'ECODE', 'MECHANISM', 'INJTYPE', 'AGE', 'GENDER', 'RACE1', 'RACE2', 'ETHNIC', 'SEX', 'EDDISP', 'SIGNSOFLIFE', 'HOSPDISP', 'LOSMIN', 'LOSDAYS', 'ICUDAYS', 'VENTDAYS', 'HEMORRHAGE_CTRL_STYPE_CODE', 'HEMORRHAGE_CTRL_STYPE_DESC', 'HEMORRHAGECTRLMINS', 'HEMORRHAGECTRLDAYS']

['INC_KEY', 'PCODE', 'DAYTOPROC', 'PROCEDUREMINS', 'HOURTOPRO']